* {
    color: black;
    text-align: center;
    Font-family: Lucida Bright, Georgia, serif;


}

body {
    background-image: url(../img/4901571.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin-top: 60px;
}

p {
    font-size: larger;
}

.rules-page {
    margin: 40px 60px;

}

h2 {
    display: inline;
}

.level {
    margin-bottom: 40px;
}

button {
    width: 80px;
    height: 30px;
    background-color: rgb(229, 158, 202);
    border: 0;
    border-radius: 7px;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
}


.level-up {
    display: inline-block;
}


.rules {
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.reset {
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    width: 44px;
}

.flags {
    display: inline;
    margin-right: 40px;
    font-size: 20px;
}

.flag-count {
    font-size: 20px;
}

.life {
    display: inline-block;
    font-size: 20px;
}

.hints {
    margin-top: 20px;
    font-size: 25px;
}

.board-container {
    display: flex;
    justify-content: center;
}

td {
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: rgb(229, 158, 202);
    border-radius: 7px;
    transition: 0.3s;
}

button:hover,
td:hover {
    background-color: rgb(222, 94, 167);
    transition: 0.3s;
}


.hide-flag,
.hidden {
    display: none;
}


.play-again>button {
    margin-top: 40px;
    width: 100px;
    height: 50px;
}

footer {
    margin-top: 100px;
    margin-bottom: 150px;
    font-size: 40px;
    text-align: center;
}